body {
    background-image: url('img/technology-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.corpo-central {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    width: 900px;
    background-color: #16324f;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    box-shadow: 4px 4px #b9daeb;
}

.titulo h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 600;
    text-align: center;
}

.lista-indice {
    width: 900px;
    background-color: #13293d;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    box-shadow: 4px 4px #b9daeb;
}

.lista-indice ol {
    padding-top: 10px;
    padding-bottom: 10px;
}

.lista-indice li {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 8px;
}

a:link {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    transition: 0.3s;
}

a:visited {
    color: #b9daeb;
    background-color: transparent;
    text-decoration: dotted;
}

a:hover {
    color: #13293d;
    background-color: #fff;
    text-decoration: underline;
}

.caixa-texto {
    width: 900px;
    background-color: #13293d;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    box-shadow: 4px 4px #b9daeb;
    font-family: 'Montserrat', sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.caixa-texto p {
    padding-bottom: 5px;
}

.caixa-codigo {
    font-family: 'Source Code Pro', monospace;
    background-color: #2c2c2c;
    color: #fff;
    padding: 5px;
    display: block;
}

.observacao {
    background-color: rgba(255,255,255,0.1);
}

.observacao li {
    padding: 5px;
}

footer {
    width: 900px;
    box-sizing: border-box;
    color: #16324f;
    font-family: 'Baloo 2', cursive;
    font-size: 400;
    text-align: center;
}

nav {
    width: 900px;
    background-color: #16324f;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    box-shadow: 4px 4px #b9daeb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Baloo 2', cursive;
}

.nav-esquerda {
    margin-right: 200px;
}

.nav-direita {
    margin-left: 200px;
}

img.fluxo-git,
img.exemplo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 850px;
}

.caixa-codigo-inline {
    font-family: 'Source Code Pro', monospace;
    background-color: #2c2c2c;
    color: #fff;
    padding: 3px;
}

span#verde {
    font-weight: 700;
    color: green;
}

span#vermelho {
    font-weight: 700;
    color: red;
}
